name: Convert Markdown to PDF

on:
  push:
    paths:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Install Pandoc
      run: |
        sudo apt-get install -y pandoc
        sudo apt install -y texlive-xetex
        sudo apt-get install -y texlive-fonts-recommended texlive-fonts-extra
        
    - name: Convert Markdown to PDF
      run: |
        for markdown_file in $(find . -name "*.md"); do
          pdf_file="${markdown_file%.md}.pdf"
          pandoc -s "$markdown_file" -o "$pdf_file" --pdf-engine=xelatex --template=$(pwd)/templates/custom-template.tex
        done
        
    - name: Commit & Push changes
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
